.admin-content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 290px);
  margin-top: 40px;
  margin-left: 250px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}

.admin-content .page .page-header {
  margin-bottom: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
