input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #454545;
  background-color: transparent;
  outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 1px solid blue;
  color: blue;
}

button {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: transparent;
}
