.page .page-header {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page .page-header .page-title {
  font-weight: bold;
}

.page .page-header .page-menu {
  margin-top: 5px;
}

.page .page-header .page-menu a {
  margin-right: 5px;
}
